<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{titolo}}</title>
</head>
<body>
    <!--HEADER-->
    {{>header}}
    <div class="contenitore">
    <div class="presentazione">
        <h1>Il mio nome è: {{nome}} </h1>
        <p>stiamo studiando la: <span><b>{{titolo}}</b></span></p>
        <h3>Il mio animale preferito è il <b>{{myPreferences.pet}}</b></h3>
        <h3>Il mio colore preferito è il <b>{{myPreferences.color}}</b></h3>
        <h3>La mia stagione preferita è l'<b>{{myPreferences.season}}</b></h3>
    </div>
    {{> hero }}
    </div>
    <!--FOOTER {{>footer}}-->
    
</body>
</html>



